modules = ["web", "nodejs-20", "python-3.12"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Website"

[[workflows.workflow]]
name = "Run Website"
author = 44744603
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 asset/main.py"

[[ports]]
localPort = 5000
externalPort = 80
